*{
  margin: 0;
  padding: 0;
  color: #f2f5f7;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
body {
  background-image: url(https://i.pinimg.com/736x/50/27/df/5027df66a7010cd3192d8db142b07382.jpg);
}
ul.menungang{
  list-style: none;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  
 }
 ul.menungang li{
  display: inline;
 }


.menutren {
  background-color: black;
  height: 60px;
  width: 100%;
}
ul.menungang li a {
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI';
  text-transform: uppercase;
  font-size:20px ;
  display: inline-block;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  transition: 0.4s;
 }
ul.menungang a:hover {
background-color: #131418;
padding-top: 3px;
padding-bottom: 9px;

}

#square {

  width: 400px;
  height: 500px;
  background:#000000;
  border-radius: 15px;
  
}

div.hinhkhoi {
  margin-top: 100px;
  position: absolute;
  left: 118px; right: 1;
  top: 573px;
}

a.text1 {
  text-decoration: none;
  position: absolute;
  right: 132px;
  top: 424px;
}

img{
  width: 400px;
  height:400px;
  border-radius: 15px;
}

.fb{
  width: 20px;
  height: 20px;
}


#hinhvuong {

  width: 400px;
  height: 500px;
  background:#000000;
  border-radius: 15px;
  
}

div.tin2{
  position: absolute;
  top: 676px;
  left: 634px
  
}

#hinhvuong2 {

  width: 400px;
  height: 500px;
  background:#000000;
  border-radius: 15px;
  
}

div.tin3{
  position: absolute;
  top: 2px;
  left: 512px;
}

a.text2 {
  text-decoration: none;
  position: absolute;
  right: 232px;
  top: 424px;
}

a.text3 {
  text-decoration: none;
  position: absolute;
  top: 424px;
  left: 4px;
}

div.tin4{
  position: absolute;
  top: 545px;
  left: -515px;
}

a.text4 {
  text-decoration: none;
  position: absolute;
  top: 424px;
  left: 4px;
}

video {
  position: absolute;
  left: 118px;
  top: 84px;
  border-radius: 20px;
}
